.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 8px 80px;
}
.navbar-logo {
    width: 100px;
    height: 100px;
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 16px;
}
.nav-connect {
    padding: 16px 32px;
    border-radius: 50px;
    background-color: #1150ab;
    color: #e4e4e4;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(17, 80, 171, 0.5);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}
.underline{
  width: 100%;
  height: 4px;
  background-color: #1150ab; 
  margin-top: 1px;
  border-radius: 4px;
}
.anchor-link{
    text-decoration: none;
    color: #1150ab;
}
.anchor-link1{
    text-decoration: none;
    color: #e4e4e4;
}
.nav-mob-close{
    display: none;
}
@media(max-width:768px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
        width: 32px;
        height: 32px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 32px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        background-color: #021025;
        color: #e4e4e4;
        right: -350px;
    }
    .nav-menu ul{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}