*{
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: #e4e2dd;
  color: #1150ab;
  /* font-family: 'Poppins', sans-serif; */
  font-family:"Waterlily", Consolas, "Courier New", monospace;
}