*{
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: #e4e2dd;
  color: #1150ab;
  font-family: 'Waterlily', cursive;
}
@font-face {
  font-family: 'Waterlily';
  src: url('../src/fonts/Waterlily\ Script.ttf') format('truetype');
}